/* Jay Shree Ram */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Salsa&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.navbar {
    height: 15vh;
    width: 100%;
    margin: auto;
    background:rgb(87, 255, 9);
    color: wheat;
    border-radius: 3px;
    margin-top: 0px;
    border-bottom: 1px solid rgb(146, 143, 143);
    box-shadow: 0 0 10px rgba(181, 233, 98, 0.8);
    /* animation: glow 1.5s infinite alternate; */


}



#Brand-name{
    margin-left: 50px;
    font-size: 2.3rem;
    border-left: 2px solid white;
    padding-left: 5px;
}

nav ul {

    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    list-style: none;
    margin: 0px 9px;
    margin-bottom: 5px;
}

nav a {

    text-decoration: none;
    color: white;
}

nav:nth-child(1) {
    font-size: 2rem;
}

.sidebar {

    position: fixed;
    top: 0;
    right: 0;
    /* display: flex; */
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: 100vh;
    width: 80%;
    gap: 30px;
    z-index: 999;
    background: rgb(50, 220, 41);
    display: none;
}

.column-container {
    margin-top: 20px;
    margin-left: 0px;
    
}

.align-items-start{
    border-bottom: 1px solid rgb(140, 138, 138)
}

.col {
    cursor: pointer;
    transition: all ease 0.5s;
}

.col:hover {
    color: rgb(73, 115, 32);
}

#dropdown1{
    padding-left: 35px;
}


.sorting-container{
    height: 10vh;
    width: 88%;
    background: #fff;
    margin-left: 190px;
    margin-top: 10px;
    border-left: 1px solid black;
    /* border: 1px solid rgb(158, 153, 153); */
}

.page1 {
    height: 152vh;
    width: 100%;
    /* background: rgb(141, 116, 166); */
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}


.flex-containers {
    height: 150vh;
    width: 20%;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    overflow-y:scroll;
    
}


.flex-containers::-webkit-scrollbar {
    width: 0;
}

.grid-containers {
    height: 150vh;
    width: 80%;
    background: gainsboro;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    /* column-gap: 15px; */
    /* row-gap: 15px; */
    margin: auto;
    overflow-y: scroll;

}

.grid-containers::-webkit-scrollbar {
    width: 0;
}

.item-grid {
    height: 340px;
    width: 250px;
    background: white;
    margin-top: 15px;
    padding: 4px 10px;
    place-self: center;
    border-radius: 5px;
    margin-bottom: 5px;
}

.item-grid img {

    height: 180px;
    width: 190px;
}

.content {
    height: 150px;
    width: 100%;
    /* background: lightcoral; */
}

.items {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: all ease 0.5s;
    
}



.items:hover {
    cursor: pointer;
   background: gainsboro;
}

.items img {
    height: 100px;
    margin-top: 20px;

}

.row>.col {
    font-size: 0.9rem;
    font-weight: 300;
    padding: 5px 6px;
}



.row>.col:hover {
    color: lime;
}



.items p {
    color: black;
    transition: all ease 0.5s;
    cursor: pointer;
}

.items p:hover {
    color: rgb(71, 125, 16);
}


.page2 {margin-top: 100px;
    height: 75vh;
    width: 100%;
   border: 10px;
}

.definition {
    margin-left: 280px;
    padding: 20px 50px;
    border-left: 3px solid black;
}


.define-tags {
    top: 0;
    height: 85vh;
    width: 100%;
    /* background: rgb(4, 112, 253); */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(to right , rgb(165, 122, 207) ,  rgb(220, 166, 166)); */
}

#box-1{
    height: 70vh;
    width: 50%;
    padding: 2px 15px;
    margin-left: 269px;
    /* background: greenyellow; */
   }



#box-2{
    height: 70vh;
    width: 50%;
    /* background: lightgreen; */
    margin-left: 200px;
    padding: 0px 15px;
}

#box-2 a{
    text-decoration: none;
    color: limegreen;
   
}

.Products-section > .col-6{
    margin-top: 10px;
    margin-right: 10px;
    /* margin-bottom: 10px; */
}

.categories{
    height: 60vh;
    width: 100%;
    /* background: linear-gradient(to right , rgb(147, 58, 237) ,  rgb(232, 90, 90)); */
    padding: 10px 15px;
}

.menu{
    display: none;
}

.categories a{
text-decoration: none;
color: lime;    
}

#icons{
    display: flex;
    font-size: 3rem;
    padding: 3px 10px;
}

@media (min-width:200px) and (max-width:750px) {

  

.page1{
    height: 151vh;
}

.sidebar{
    width: 100%;
    
}

nav{
    width: 135%;
}



    #container-fluid {
        display: none;
    }

    .menu{
        display: block;
    }

    .rwd {
        display: none;
    }

  

    .flex-containers {
        height: 150vh;
        width: 80%;
        border-radius: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        overflow-y: scroll;
        
    }

 

    .grid-containers {
        height: 150vh;
        width: 80%;
        background: gainsboro;
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr ;
        overflow: hidden;
        overflow-y: scroll;
       

    }

    .grid-containers::-webkit-scrollbar {
        width: 0;
    }

    .item-grid{
     width: 238px;   
    }


    .definition {
        font-size: 8px;
        padding: -8px -8px;
        margin-left: 40px;
        overflow-y: scroll;
    }

    .define-tags {
       
        top: 0;
        height: 70vh;
        width: 100%;
        padding: 0px 0px;
        margin: 0px 0px;
        /* background: rgb(4, 112, 253); */
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;

    }

    .categories{
        height: 125vh;
        width: 100%;
        /* background: rgb(136, 132, 132); */
        padding: 50px 15px;
    }

}


@media (min-width:751px) and (max-width:900px){

    .page1{
        height: 106vh;
    }
    .sorting-container {
        height: 4vh;
        width: 88%;
    }
    
    .page2{
        height: 35vh;
    }
    
        #container-fluid {
            display: none;
        }
    
        .menu{
            display: block;
        }
    
        .rwd {
            display: none;
        }
    
        .flex-containers {
            height: 105vh;
            width: 50%;
            border-radius: 10px;
             display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            overflow-y:scroll;
            
        }
    
    
        .grid-containers {
            height: 105vh;
            width: 80%;
            background: gainsboro;
            display: grid;
            grid-template-columns: 1fr ;
            grid-template-rows: 1fr ;
            column-gap: 15px;
            row-gap: 15px;
            overflow: hidden;
            overflow-y: scroll;
    
        }
    
        .grid-containers::-webkit-scrollbar {
            width: 0;
        }
    
        .item-grid{
         width: 400px;   
        }
    
    
        .definition {
            font-size: 15px;
            padding: 20px 20px;
            overflow-y: scroll;
        }
    
        .categories{
            height: 111vh;
            width: 100%;
            /* background: rgb(165, 122, 207); */
            padding: 10px 15px;
        }

        .define-tags{
            height: 30vh;
            display: none;
        }

        #box-1{
            height: 20vh;
        }
        #box-2{
            height: 20vh;
        }
        .categories{
            height: 80vh;
        }

}